/* CSS that applies to all pages. */

/*
** Credit to MDN Web Docs for resources on CSS Flexbox and Grid.
**
** Credit to Godlike Website for inspiration on color scheme,
** at link https://preview.themeforest.net/item/godlike-the-game-template/full_screen_preview/17166433?ec_promo=post_cta&ec_unit=primary&_ga=2.34864291.383348613.1667278084-981425549.1667278084
*/


/* This @font-face is for adding my custom font for common.css to use. */
@font-face {
    font-family: Merriweather;
    src: url("../assets/fonts/Merriweather/Merriweather-Black.ttf") format('truetype');
    font-weight: normal;
}

/*
This @font-face has a similar function as the @font-face above,
but it gives the bold version of my custom font.
*/
@font-face {
    font-family: Merriweather;
    src: url("../assets/fonts/Merriweather/Merriweather-Bold.ttf") format('truetype');
    font-weight: bold;
}


body {
    margin: 0; /* To remove gap on top of the navigation bar */
    min-height: 100vh;
    background-color: #494949;

    /* Using Grid and it's attributes to dedicate certain parts of the browser screen to certain widgets. */
    display: grid;
    grid-template: 1fr 15fr 1fr / 1fr 5fr 1fr;
    grid-template-areas:
        "navBar navBar navBar"
        ". content ."
        "footer footer footer";
}

/* CSS for the navigation bar START */
nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "leftSide rightSide";
    grid-area: navBar;

    font-family: Merriweather, sans-serif;

    background-color: #0e0e0e;
}

nav div {
    display: flex; /* To collect and align the nav bar tabs easily. */
}

div.leftContent {
    grid-area: leftSide;
}

div.leftContent .navButton {
    border-right: thin groove white;
}

div.rightContent {
    grid-area: rightSide;
    justify-content: flex-end;
}

div.rightContent .navButton {
    border-left: thin groove white;
}

nav a {
    color: white;
    text-align: center;
    padding: 2.5vmin;

    text-decoration: none;

    /* Used transition here to reduce the snappiness of the hover effect; make it seem more fluid.*/
    transition: background-color 250ms, color 250ms;

}

nav a:hover {
    background-color: white;
    color: black;
}

nav .selectedTab {
    background-color: navy;
}

nav div.profile {
    padding: 1vmin;
}

nav div.profile .profile-content {
    color: #f8f8f8;
    border-radius: 40%;
    padding: 1.5vmin;
    background-color: #6c649a;
    text-align: center;
    text-decoration: none;

}

/* CSS for the navigation bar END*/

div#content {
    grid-area: content;

    display: flex;
    flex-direction: column;
    justify-content: center;

    color: white;
    text-align: center;
}

footer {
    grid-area: footer;
    background-color: #92dde1;

    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
}